<div class="row">
	<div class="span8">
		<h2>Available Jobs</h2>
		<%= render :partial => "active_jobs" unless @jobs.empty? %>
	</div>
	<div class="span4">
		<h2>Former Jobs</h2>
		<%= render :partial => "inactive_jobs" unless @inactive_jobs.empty? %>
		
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Job"), new_job_path, :class => 'btn btn-primary', :id => 'Create Job' %>
