<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee</th>
			<th>Start Time</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.chronological.each do |shift| %>
      <tr>
        <td><%= link_to "#{@shift.assignment.employee.proper_name}", shift_path(shift) %></td>
				<td><%= humanize_time(shift.start_time) %></td>
				<td>
          <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_shift_path(shift), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @shifts, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
